<html>
<head>
<title>Change Password</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<body>
	<section class="chp">
		<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
				<h1>Change password</h1>
				<p>{{ msg }}</p>
				<p>Old Password: <input type="password" name="oldpassword"></p>
				<p>New Password: <input type="password" name="newpassword" id="newpassword"></p>
				<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
				<input type="submit" value="Save" class="btn btn-block btn-primary">
			</form>
			<a href="{{ url_for('profileHome') }}" class="btn btn-block btn-success">Go to Profile</a>
</section>
</body>
</html>


