<html>
<head>
    <script>
    window.alert("Add some items to cart before proceeding!!");
    </script>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <style>
      .btn.btn-outline-dark {
	display: block;
	width: 300px;
	margin: 50px auto;
	font-weight: bold;
}
  </style>
</head>
<body>
    <a href="/" class="btn btn-outline-dark">Go Home</a>
</body>

</html>