<html>
<head>
<title>	ekart </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
</head>
<body>
<p> {{error}} </p>
<!-- <form action="/login" method="POST">
	<p> <input type="text" name="email"></p>
	<p>Password: <input type="password" name="password"></p>
	<p><input type="submit"></p>
	<a href="/registerationForm">Register here</a>
</form> -->

<section class="login-wrapper"> 
<form action="/login" method="POST">
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
	<button class="float-right btn btn-success" type="submit">
		Login
	</button>
	<a href="/registerationForm" class="btn btn-primary">Register here</a>
	<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</form>

</section>
</body>
</html>
